
.md-app {
    min-height: 600px;
    border: 1px solid rgba(#000, 0.12);
  }
  .md-app-toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 64px;
  }
  
  // Demo purposes only
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
  .md-app-drawer {
    margin-top: 64px;
  }
  .page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
  }
  // .md-autocomplete {
  //   max-width: 700px;
  //   -webkit-text-fill-color: #6f6f6f;
  // }
  // #search1 {
  //   //  margin-left: 90px;
  //   // background-color: rgb(216, 216, 216);
  //   background-color: #e2e0e0;
  //   //      padding: 11px 0;
  //   height: 46px;
  //   padding: 0;
  //   margin-left: 56px;
  //   margin-right: 49px;
  //   overflow: hidden;
  //   position: relative;
  //   border-radius: 8px;
  //   transition-duration: 0.218s;
  //   transition-property: background, border, opacity, box-shadow, transform;
  //   transition-timing-function: ease-in;
  //   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  //   -webkit-text-fill-color: #797979;
  // }
  #ex3 {
    background-color: yellow;
    color: red;
    all: initial;
  }
  .md-card {
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  
    //     box-sizing: border-box;
     overflow: hidden;
    // position: relative;
    // border-radius: 8px;
    // background-color: #fff;
    // border-color: #e0e0e0;
  }
  .md-avatar img {
    display: flex;
    width: 50%;
    height: 50%;
    display: block;
  }
  .md-menu {
    margin: 24px;
  }
  .c1 {
    display: flex;
    justify-content: center;
  }
  .md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box label {
    -webkit-text-fill-color: #6f6f6f;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid transparent;
  
 
  }
  .md-app-toolbar {
    display: flex;
    // justify-content: space-between;
    flex-direction: row;
  }
  .main {
    margin-left: 180px;
    display: flex;
  }
  .img {
    display: flex;
    width: fit-content;
  }
  .md-list button {
    border: none;
    background-color: #ffffff;
    color: #050101;
  }
 
  .md-list .h:hover,
  button:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    // border-radius: 8px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
 
  .page-container {
    z-index: 8;
  }
 
  .link1{
    color:black
  }
  // .md-list .h:hover,
  // button:hover,
  // .h1:active{
  //    background-color: rgb(180, 176, 113);
  //    cursor: pointer;
  //  }
  
  // .h1:hover,
  // .router-link-active,
  // .router-link-exact-active {
  //   background-color: indianred;
  //   cursor: pointer;
  //   border-top-right-radius: 30px;
  //   border-bottom-right-radius: 30px;
  // }